@import 'fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
:root {
    --mlight: 'Montserrat-Light';
    --mmedium: 'Montserrat-Medium';
    --mthin: 'Montserrat-Thin';
}

header {
    height: 105.5vh;
    background: url(../img/fon-one.jpg) no-repeat center center / cover;
}

.bg-light {
    background-color: rgba(var(--bs-light-rgb), none) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #191919;
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--mmedium);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #007d2f;
}

header .header_text h1 {
    font-size: 36px;
    font-family: var(--mmedium);
    color: black;
    font-weight: 700;
    margin-top: 70px;
}

header .header_text p {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #808081;
    margin-top: 35px;
    margin-bottom: 55px;
}

header .header_text button {
    font-size: 12px;
    color: white;
    background: #007d2f;
    border: 1px solid #007d2f;
    font-family: var(--mmedium);
    text-transform: uppercase;
    font-weight: 600;
    padding: 21px 64px 21px 44px;
    transition: 0.4s;
}

header .header_text button:hover {
    background: white;
    color: #007d2f;
    border: 1px solid #007d2f;
    box-shadow: 0 0 1px 1px;
}


/* ----------------------MAIN---------------------- */

.about h2 {
    font-size: 35px;
    font-family: var(--mmedium);
    color: #191919;
    margin-bottom: 40px;
}

.about .about_text p {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #8c8c8c;
    margin-bottom: 45px;
}

main .about_text {
    text-align: center;
    padding: 100px 0 40px 0;
}


/* ------------------------SECTION------------------------- */

.skills_text {
    padding: 160px 55px 165px 130px;
}

.skills {
    height: 570px;
}

.skills .skills_row {
    margin-left: 0;
    margin-right: 0;
}

.skills .col_none {
    padding-right: 0;
    padding-left: 0;
}

.skills .skills_row {
    background: #f8f9f9;
}

.skills .skills_row img {
    width: 100%;
}

.skills .skills_text h3 {
    font-size: 30px;
    color: #171717;
    font-family: var(--mlight);
}

.skills .skills_text p {
    font-size: 12px;
    color: black;
    font-family: var(--mlight);
    text-transform: uppercase;
}

.skills_text .design::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #007d2f 75%, #d8d8d8 25%);
    margin-top: 20px;
}

.skills_text .web::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #007d2f 90%, #d8d8d8 10%);
    margin-top: 20px;
}

.skills_text .marketing::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #007d2f 65%, #d8d8d8 35%);
    margin-top: 20px;
}


/* ---------------------FOOTER----------------------- */

.block_icon {
    background: #007d2f;
    text-align: center;
    color: #ffffff;
    padding: 70px 0 80px 0;
}

.block_icon .icon_text i {
    font-size: 48px;
}

.block_icon .icon_text .text {
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--mmedium);
    font-weight: bold;
}

.block_icon .icon_number {
    font-size: 18px;
    font-family: var(--mmedium);
    margin-bottom: 0;
}


/* -------------------GALLERY-------------------- */

.gallery img {
    width: 100%;
}

.gallery .gallery_box {
    position: relative;
}

.gallery .gallery_box .gallery_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.gallery .gallery_box .gallery_icon:hover {
    background: #0000005d;
    font-size: 30px;
    text-decoration: none;
}

.gallery_col {
    padding: 0;
}

.gallery_row {
    margin: 0;
}

.gallery .gallery_heading {
    padding: 45px 0 40px 0;
    background-color: #007d2f;
}

.gallery .gallery_heading h2 {
    text-align: center;
    font-size: 21px;
    font-family: var(--mmedium);
    color: white;
    text-transform: uppercase;
}

.video {
    padding: 100px 0;
    text-align: center;
}

.video .video_text h3 {
    font-size: 44px;
    font-family: var(--mmedium);
    color: #000000;
}

.video .video_text p {
    font-size: 21px;
    color: #787878;
    font-family: var(--mlight);
    margin-top: 30px;
}

.video iframe {
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

.gallery_end {
    padding: 50px 0;
    background: #f5f5f5;
}

.gallery_end .gallery_end_box {
    text-align: center;
    margin-top: 55px;
}

.gallery_end .gallery_end_box i {
    font-size: 40px;
    color: #656565;
    padding-bottom: 25px;
}

.gallery_end .gallery_end_box h5 {
    font-size: 12px;
    /*  font-family: var(--mmedium); */
    text-transform: uppercase;
    font-weight: bolder;
}

.gallery_end .gallery_end_box p {
    font-size: 16px;
    color: #7c7c7c;
    font-family: 'Nunito Sans', sans-serif;
}


/* ---------------------SLIDER---------------------- */

.slider {
    background: #007d2f;
    width: 100%;
    height: 500px;
}

.carousel-inner {
    height: 500px;
}

.carousel-item {
    height: 500px;
}

.carousel-control-prev-icon {
    background-image: none;
}

.carousel-control-next-icon {
    background-image: none;
}

.carousel-indicators [data-bs-target] {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #ffffff;
}

.carousel-indicators .active {
    background-color: red;
}


/* --------------------ICON Block--------------------- */

.icon_block {
    padding-bottom: 60px;
    text-align: center;
}

.icon_block img {
    padding-top: 65px;
}


/* --------------------NEED A PROJECT------------------- */

.need_project {
    text-align: center;
    background: #f5f5f5;
    padding: 30px 0 100px 0
}

.need_project h3 {
    color: #1d1d1d;
    font-size: 30px;
    font-family: var(--mmedium);
}

.need_project p {
    margin-top: 40px;
    font-size: 16px;
    color: #787878;
    margin-bottom: 40px;
}

.need_project .form_group .form_control {
    font-size: 15px;
    color: #787878;
    width: 100%;
    border: none;
    margin-bottom: 30px;
    padding: 20px 0 15px 20px;
    transition: 0.4s;
}

.need_project .form_group .form_control:hover {
    box-shadow: 0 0 3px 2px #007d2f;
}

.need_project button {
    font-size: 12px;
    margin-top: 30px;
    background: #007d2f;
    border: none;
    padding: 22px 25px 22px 25px;
    text-transform: uppercase;
    color: white;
    font-family: var(--mmedium);
    font-weight: bolder;
    transition: 0.4s;
}

.need_project button:hover {
    background: white;
    color: #007d2f;
    box-shadow: 0 0 2px 2px #007d2f;
}


/* ---------------FOOTER----------------- */

footer {
    padding: 100px 0;
    background: #141414;
    color: white;
}

footer p {
    font-size: 15px;
}

footer .macintosh {
    font-size: 18px;
}

.footer_table {
    display: flex;
}

footer .footer_table ul {
    list-style: none;
}

footer .footer_table ul li a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}